---
import '@fontsource/space-grotesk';
import Header from '@components/Header';
import Footer from '@components/Footer.astro';
import "@styles/global.css";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>

	<body class="min-h-screen text-base md:text-xl">
		<Header client:load />
		<main class="w-[90%] max-w-[1200px] mx-auto">
			<slot />
		</main>
		<Footer />
	</body>
</html>
